{% extends "layout.html" %}

{% block body %}
    <div>Followers</div>
    <input id="min-followers" type="number" placeholder="any">
    -
    <input id="max-followers" type="number" placeholder="any">
    
    <div>Employees</div>
    <input id="min-employees" type="number" placeholder="any">
    -
    <input id="max-employees" type="number" placeholder="any">

    <div>Keywords</div>
    <div id="keywords-container">
        <input id="add-keywords" type="text">
        <button id="add-keyword" type="button">+</button>
    </div>

    <div>Company</div>
    <div id="companies-container">
        <div id="add-company-container">
            <input id="add-companies" type="text">
            <button id="add-company" type="button">+</button>
        </div>
        <button id="search" type="button">load</button>
        <div id="wait" hidden>WAIT</div>
        <div id="data" hidden></div>
    </div>

{% endblock %}