<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- <link href="/static/style.css" rel="stylesheet"> -->
        <title>Place</title>
    </head>

    <body>
        <input id="company" type="text">
        <button type="button">load</button>
        <div id="wait" hidden>WAIT</div>
        <div id="data" hidden></div>
    </body>

    <script src="/static/script.js"></script>

</html>